streamlit==1.55.0
matplotlib==3.10.6
opencv-python==4.13.0.92
numpy==1.26.4
pillow==11.3.0
pandas==2.3.2
scikit-learn==1.7.2
easyocr==1.7.2
SpeechRecognition==3.14.6
pyttsx3==2.99
tensorflow==2.16.2
keras==3.13.2
Pillow==11.3.0
